<div class="col h-100 mb-4">
    <div class="card h-100">
      <img [src]="hero.image" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">{{hero.name}}</h2>
        <p class="card-text">{{hero.description}}</p>
      </div>
      <div class="d-flex justify-content-center gap-3 mb-3">
        <button mat-raised-button color="primary" [routerLink]="['/edit-hero', hero.id]">Editar</button>
        <button mat-raised-button color="warn" (click)="openConfirmDeleteDialog(hero.id)">Borrar</button>
      </div>
    </div>
</div>
