@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
app-root { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
#main{
    flex: 1;
    padding-bottom: 100px;
}
.btn-icon{
    margin-right: 0.2rem;
}